<h2>{{model.name}}</h2>
<p>Email: {{model.email}}</p>
{{gravatar-image email=model.email}}

<h3>Phone Numbers</h3>

{{#each model.phones as |phone|}}
  <p>{{phone.type}}: {{phone.number}}</p>
{{/each}}

{{link-to "Edit" "contacts.edit" model}}
<a href="#" {{action "delete" model}}>Delete</a>
